<div class="container">
  <h1>Datos del Cliente</h1>
  <div class="well">
    <p>
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Nombre cliente:</strong>
        <%= @user.name %>
      </p>
      <p>
        <strong>Apellido:</strong>
        <%= @user.lastname %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

    <strong>Sus pedidos realizadas:</strong>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <td>Fecha del Pedido</td>
        <td>Total del Pedido</td>
      </tr>
      </thead>
      <%  @user.orders.each do |v| %>
          <tbody>
          <tr>
            <td><%=v.updated_at.strftime("%d-%m-%Y a las %H:%M:%S") %> </td>
            <td><%=number_to_currency v.subtotal %> </td>
            <td><%= link_to 'Ver', order_path(v), class: 'btn btn-info btn-sm' %></td>
          </tr>
          </tbody>
      <% end  %>

    </table>
    </br>
      <%= link_to 'Regresar', clientes_path, :class => 'btn btn-warning glyphicon glyphicon-arrow-left', :style => 'color: white' %>
  </div>
</div>