<h1><%= name %> Tama単o <%= @tamano.tamano %></h1>
<div class="well">
  <%= simple_form_for @tamano do |f| %>
      <%= f.input :tamano,  placeholder: "Escriba el tama単o (Ej. Chico)" %>
      <%= f.input :descripcion,  placeholder: "Escriba la descripcion del tama単o (Ej. Este es el tama単o Chico)"  %>

      <%= f.button :submit,  "Guardar Cambios", class: "btn btn-success"  %> |
      <%= link_to "Cancelar", :back, {:class=>"btn btn-primary"} %>
  <% end -%>
  </div>
