<div class="container" style="position:relative;">

<% if empleado_signed_in?  %>
      <div class="marquee">
          <p>Artesanías Yessy</p>
          <p>Bienvenido  <%=current_empleado.first_name%> <%=current_empleado.last_name%></p>
      </div>
   <% elsif admin_signed_in? %>
      <div class="marquee">
          <p>Artesanías Yessy</p>
        <p>Bienvenido  Administrador</p>
      </div>
      <% else %>
      <div class="marquee">
          <p>Artesanías Yessy</p>
          <p>Bienvenido</p>
      </div><% end %>
    <!-- Start WOWSlider.com BODY section -->
    <div id="slider">
      <div><%= image_tag "img1.jpg", :alt => "Imágen 1", :title => "Imagen 1", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img2.jpg", :alt => "Imágen 2", :title => "Imagen 2", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img3.jpg", :alt => "Imágen 3", :title => "Imagen 3", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img4.jpg", :alt => "Imágen 4", :title => "Imagen 4", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img5.jpg", :alt => "Imágen 5", :title => "Imagen 5", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img6.jpg", :alt => "Imágen 6", :title => "Imagen 6", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img7.jpg", :alt => "Imágen 7", :title => "Imagen 7", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img8.jpg", :alt => "Imágen 8", :title => "Imagen 8", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img9.jpg", :alt => "Imágen 9", :title => "Imagen 9", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img10.jpg", :alt => "Imágen 10", :title => "Imagen 10", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img11.jpg", :alt => "Imágen 11", :title => "Imagen 11", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img12.jpg", :alt => "Imágen 12", :title => "Imagen 12", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img13.jpg", :alt => "Imágen 13", :title => "Imagen 13", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img14.jpg", :alt => "Imágen 14", :title => "Imagen 14", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img15.jpg", :alt => "Imágen 15", :title => "Imagen 15", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img16.jpg", :alt => "Imágen 16", :title => "Imagen 16", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img17.jpg", :alt => "Imágen 17", :title => "Imagen 17", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img18.jpg", :alt => "Imágen 18", :title => "Imagen 18", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img19.jpg", :alt => "Imágen 19", :title => "Imagen 19", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img20.jpg", :alt => "Imágen 20", :title => "Imagen 20", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img21.jpg", :alt => "Imágen 21", :title => "Imagen 21", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img22.jpg", :alt => "Imágen 22", :title => "Imagen 22", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img23.jpg", :alt => "Imágen 23", :title => "Imagen 23", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img24.jpg", :alt => "Imágen 24", :title => "Imagen 24", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img25.jpg", :alt => "Imágen 25", :title => "Imagen 25", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img26.jpg", :alt => "Imágen 26", :title => "Imagen 26", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img27.jpg", :alt => "Imágen 27", :title => "Imagen 27", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img28.jpg", :alt => "Imágen 28", :title => "Imagen 28", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img29.jpg", :alt => "Imágen 29", :title => "Imagen 29", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img30.jpg", :alt => "Imágen 30", :title => "Imagen 30", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img31.jpg", :alt => "Imágen 31", :title => "Imagen 31", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img32.jpg", :alt => "Imágen 32", :title => "Imagen 32", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img33.jpg", :alt => "Imágen 33", :title => "Imagen 33", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img34.jpg", :alt => "Imágen 34", :title => "Imagen 34", :class => "img-responsive", :style => "height: 300px;"%></div>
      <div><%= image_tag "img35.jpg", :alt => "Imágen 35", :title => "Imagen 35", :class => "img-responsive", :style => "height: 300px;"%></div>
    </div>
    <!-- End WOWSlider.com BODY section -->
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br>
    <%= render 'templates/accordion' %>
  </div>
 </div>
