 <div class="well">

        <div class="row">
          <div class="col-xs-8">
            <%= image_tag producto.fotografia.thumb.url if producto.fotografia.present? %>
            <h4><%= producto.producto %> tamaño <%= producto.tamano.tamano %></h4>
            <h4>Diseño: </h4>
            </br>
            <h4>  <%=vent_item.producto.disenos.map {|u|u.nombre} %> </h4>
          </div>

          <div class="col-xs-4">

            <%= form_for vent_item, remote: true do |f| %>
                <h4 class="text-right">Precio: <span style="color: green"><%= number_to_currency producto.precio %></span></h4>
                <div class="row">
                  <%=f.hidden_field :diseno, value: producto.disenos %>
                  <%= f.number_field :quantity, value: vent_item.quantity.to_i, class: "form-control", min: 1 %>
                  <div class="input-group-btn">
                    <%= f.hidden_field :producto_id, value: producto.id %>
                    <%= f.submit "Actualizar", class: "btn btn-primary" %>
                  </div>
                  <%= link_to "Eliminar", vent_item,  method: :delete, remote: true, class: "btn btn-danger"  %>
                  </div>
                </div>
                <h4>Precio Total: <span style="color: green"><%= number_to_currency vent_item.total_price %></span></h4>
            <% end %>
          </div>

        </div>
      </div>

